In [1]:
import pandas as pd

In [3]:
df_graduation =  pd.read_csv('../dataset/Graduation_Rate_2019_Dec2nd_2019 (3).csv')

In [4]:
df_graduation.columns

Index(['LONG_SCHOOL_YEAR', 'DETAIL_LVL_DESC', 'SCHOOL_DSTRCT_CD',
       'SCHOOL_DSTRCT_NM', 'INSTN_NUMBER', 'INSTN_NAME', 'GRADES_SERVED_DESC',
       'LABEL_LVL_1_DESC', 'PROGRAM_TOTAL', 'PROGRAM_PERCENT', 'TOTAL_COUNT'],
      dtype='object')

In [19]:
df_id_label = df_graduation.groupby(['SCHOOL_DSTRCT_CD','LABEL_LVL_1_DESC']).mean().reset_index()

In [25]:
grad_rate_cleaned = df_id_label.dropna()
grad_rate_cleaned.rename(columns={'SCHOOL_DSTRCT_CD':'School District Code'})

,School District Code,LABEL_LVL_1_DESC,PROGRAM_TOTAL,PROGRAM_PERCENT,TOTAL_COUNT
0,601,Grad Rate -ALL Students,220.0,90.16,244.0
4,601,Grad Rate -Black,54.0,96.43,56.0
5,601,Grad Rate -Economically Disadvantaged,220.0,90.53,243.0
6,601,Grad Rate -Female,110.0,90.91,121.0
8,601,Grad Rate -Hispanic,29.0,93.55,31.0
...,...,...,...,...,...
3240,891,Grad Rate -ALL Students,23.0,12.92,178.0
3244,891,Grad Rate -Black,16.0,11.43,140.0
3251,891,Grad Rate -Male,18.0,10.91,165.0
3254,891,Grad Rate -Not Economically Disadvantaged,20.0,14.30,140.0
3256,891,Grad Rate -Students Without Disability,18.0,14.20,127.0

In [23]:
grad_rate_cleaned.to_csv(
    '../data_export/var_grad_program_cleaned.csv'
)